/*
Color Palette
background color: #8EC3B0
primary: #512C73
secondary: #361356
tertiary: #6F4D8F
accent: #9277AC
white: #fff
black: #000  
*/


@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&family=Open+Sans:wght@300;400;600;700&family=Source+Serif+Pro:wght@300;400&display=swap');



html {
    /* If we add any padding or border onto an element it does not affect the width of the element */
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: #8EC3B0;
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}



.DHC{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.dhcText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}



.hogText {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.tojiText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.copyright {
    text-align: left;
    color: #fff;
    margin: 10rem 0;
    border-top: 1px solid #fccdd9;
}





@media (min-width: 800px) {
    .mouche {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        height: 90vh;
    }
    
    .dhcText {
        font-size: 1rem;
    }
    
    .hogText {
        font-size: 1rem;
    }
    
    .tojiText {
        font-size: 1rem;
    }
    
    .itto {
        font-size: 3.5rem;
    }
    
    .copyright {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .mouche {
        max-width: 85%;
    }
}